{% extends 'nail/SubPage.html' %}

{% block title %}
    <h1> שלום, הגעתם לאתר של מיטל סלבגו</h1>
<h1>Nail Polish - Meital Salvago</h1>
{% endblock %}
{% block data %}
    {% if not user.is_authenticated %}
        <div><a href="{% url 'nail:login' %}" class="btn btn-primary btn-demo popup-vimeo">Login</a>
        <a href="{% url 'nail:new-user' %}" class="btn btn-primary btn-learn" >Registration</a>
            </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div><a href="{% url 'nail:logout' %}" class="btn btn-primary btn-demo popup-vimeo">Logout</a>
    {% endif %}

{% endblock %}







