
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/lights.jpg" target="_blank">
          <img src="https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.0-9/79288637_3544973425520616_7893286154944905216_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=lTr6FKIYSlIAX_3U8yI&_nc_ht=scontent.fhfa1-1.fna&oh=34b83ff4272338b2678836e8b4986d6f&oe=5F8F0ECB" alt="Lights" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-2.fna.fbcdn.net/v/t1.0-9/78778372_3544973932187232_2364463832425824256_n.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_ohc=-T-nevCfEe4AX9rqOvk&_nc_ht=scontent.fhfa1-2.fna&oh=654894884652123b5b304022b9d223ef&oe=5F914668" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/fjords.jpg" target="_blank">
          <img src="https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.0-9/81679651_3665336053484352_8233555806553899008_n.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_ohc=x-0j1HMPe4YAX9bB0aH&_nc_ht=scontent.fhfa1-1.fna&oh=8eb81dfd10aac344dcac046311fba296&oe=5F8FEB4B" alt="Fjords" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
  </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-2.fna.fbcdn.net/v/t1.0-9/82195569_3665336040151020_1221942367787941888_n.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_ohc=R-YqqVnmqQQAX9nc7-t&_nc_ht=scontent.fhfa1-2.fna&oh=ca07a8dbf698727e7eddfb8e25be63e5&oe=5F8FC119" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.0-9/82291596_3665336170151007_6808630514103091200_n.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=r8p0W07O1EAAX_q7Ymv&_nc_ht=scontent.fhfa1-1.fna&oh=62918f5386e470ec9233e7fd3e9e9643&oe=5F909462" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-2.fna.fbcdn.net/v/t1.0-9/82006982_3665336300150994_8771292506651361280_n.jpg?_nc_cat=107&_nc_sid=8bfeb9&_nc_ohc=m0_De3CVJgIAX9YgOuA&_nc_ht=scontent.fhfa1-2.fna&oh=06861a58b185a8555b6cf2b2764682cd&oe=5F907665" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-2.fna.fbcdn.net/v/t1.0-9/81786485_3665336310150993_3672320810447536128_n.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=zTuhmdmn_ogAX-jhcxm&_nc_ht=scontent.fhfa1-2.fna&oh=8fa2a71cb2b8c91be3c8e49c2859bff2&oe=5F8F1C26" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.0-9/81714448_3665336460150978_981661650773868544_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=QS-GBKEKzUEAX-W1BnK&_nc_ht=scontent.fhfa1-1.fna&oh=26360d6182108b03b88ab6ecd407fd4c&oe=5F9026C5" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/w3images/nature.jpg" target="_blank">
          <img src="https://scontent.fhfa1-1.fna.fbcdn.net/v/t1.0-9/82019361_3665336470150977_4700097439179210752_n.jpg?_nc_cat=110&_nc_sid=8bfeb9&_nc_ohc=BHIqGhq_ar4AX-z5iGw&_nc_ht=scontent.fhfa1-1.fna&oh=5ff70bb3257c521dc78e8e081761ed26&oe=5F9267A7" alt="Nature" style="width:100%">
          <div class="caption">
          </div>
        </a>
      </div>
    </div>
</div>
    {% if not user.is_authenticated %}
<a href="{% url 'nail:index' %}" class="btn btn-primary btn-learn">back</a>
  {% endif %}
  {% if user.is_authenticated %}
<a href="{% url 'nail:index' %}" class="btn btn-primary btn-learn">back</a>
  {% endif %}
</body>
</html>
