
<!DOCTYPE html>
{% extends 'nail/SubPage.html' %}
<html lang="en">
{% block data %}
<body>

    {% if user.is_authenticated %}
        <h1>Welcome {{ user.first_name }} </h1>
        {% if up1.exist_meeting %}
            <script>
                alert('You have meeting at {{ up1.next_meeting }}');
            </script>
        {% endif %}
        {% if up1.exist_meeting %}
            <h1><div>Your next meeting at {{ up1.next_meeting }}</div></h1>
        {% endif %}



    {% endif %}




</body>
{% endblock %}
</html>
