{% extends 'nail/SubPage.html' %}
{% load static %}
{% block data %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h2><i class="fa fa-map-marker" style="font-size:48px;color:red"></i></h2>
<p><h2>Beer Sheva, Tel Hai 28</h2></p>

<p><h2><i class="fa fa-phone" style="font-size:48px;color:red"></i></h2></p>
<h2>Telephone: 0525380179</h2>
<h1><i class="fa fa-map-o" aria-hidden="true" style="font-size:48px;color:red"></i></h1>
<h1><a href="https://www.google.com/maps/place/%D7%AA%D7%9C+%D7%97%D7%99+28,+%D7%91%D7%90%D7%A8+%D7%A9%D7%91%D7%A2%E2%80%AD/@31.2512405,34.7896542,17z/data=!3m1!4b1!4m5!3m4!1s0x1502666da998dbbf:0x3f19b3e0fc05b3be!8m2!3d31.2512405!4d34.7874655">Map</a></h1>
{% endblock %}