

<!DOCTYPE html>
<style type="text/css">
	#fh5co-page{
		background: GhostWhite;
	}
</style>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Nail-Polish</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'nail/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'nail/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'nail/css/bootstrap.css' %}">
	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'nail/css/flexslider.css' %}">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'nail/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'nail/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'nail/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div id="fh5co-page">
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="{% url 'nail:index' %}">Menu</a></h1>

				<nav id="fh5co-main-menu" role="navigation">

				<ul>

					{% if user.is_authenticated %}
						<li><a href="{% url 'nail:set-change' %}">Set/Change an appointment</a></li>
					{% endif %}
					{% if up1.is_admin == True %}
            			<li><a href="{% url 'nail:meeting-admin' %}">Your meeting</a><br>
        			{% endif %}
					{% if not user.is_authenticated %}
						<li><a href="https://www.instagram.com/p/B7IUvMvBgi7/">Instagram</a></li>

					 {% endif %}
					<li><a href="{% url 'nail:profile' %}">Profile</a></li>
					<li><a href="{% url 'nail:pictures' %}">Pictures</a></li>
					<li><a href="{% url 'nail:service' %}">Service</a></li>
					<li><a href="{% url 'nail:about' %}">About</a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url 'nail:logout' %}">Logout</a></li>
					{% endif %}


				</ul>

			</nav>



			<div class="fh5co-footer">
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">
			<aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
				   	<li style="background-image: url();">
						<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
					   				<div class="slider-text-inner">
										{% block title %}{% endblock %}
										{% block data %}{% endblock %}
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</aside>
				</div>
			</div>
		</div>
	</div>




	<!-- jQuery -->
	<script src="{% static 'nail/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'nail/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'nail/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'nail/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'nail/js/jquery.flexslider-min.js' %}"></script>


	<!-- MAIN JS -->
	<script src="{% static 'nail/js/main.js' %}"></script>

	</body>
</html>

